/* Lato Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
    --clr-primary: #047aed;
    --clr-secondary: #1c3fa8;
    --clr-dark: #002240;
    --clr-light: #f4f4f4;
    --clr-success: #5cb85c;
    --clr-error: #d9534f;
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
}
ul,
ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%; /*this will keep the image in the container even if it is larger than container*/
}

/* General Styles */
body {
    font-family: "Lato", sans-serif;
    color: #333;
}
h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin-block: 10px;
}
p {
    margin-block: 10px;
}
pre,
code {
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.hidden {
    visibility: hidden;
    height: 0;
}

/* Section styling now */
/* Navbar */
.navbar {
    background-color: #047aed;
    color: #fff;
    width: 100%;
    height: 70px;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar ul {
    display: flex;
}
.navbar a {
    padding: 10px;
    margin-inline: 5px;
}
.navbar a:hover {
    border-bottom: 2px solid #fff;
}

/* Showcase */
.showcase {
    background-color: var(--clr-primary);
    height: 500px;
    color: #fff;
    position: relative;
}
.showcase .grid {
    grid-template-columns: 50% 45%;
    gap: 30px;
    overflow: visible;
}
.showcase-text {
    animation: slideInFromLeft 1s ease-in;
    -webkit-animation: slideInFromLeft 1s ease-in;
}
.showcase h1 {
    font-size: 40px;
}
.showcase p {
    margin-block: 20px;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 400px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    /*animation*/
    animation: slideInFromRight 1s ease-in;
    -webkit-animation: slideInFromRight 1s ease-in;
}
.showcase-form .form-control {
    margin-block: 40px;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: none;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    outline: none;
    padding: 3px;
    font-size: 1rem;
}
/* addding white slant */
.showcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -60px;
    left: 0;
    right: 0;
    background: #fff;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
}

/* Stats */
.stats {
    padding-top: 100px;
    /*animations*/
    animation: slideInFromTop 1s ease-in;
    -webkit-animation: slideInFromBottom 1s ease-in;
}
.stats-heading {
    max-width: 500px;
    margin: auto;
}
.stats .grid h3 {
    font-size: 35px;
}
.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* CLI */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid .card {
    padding: 10px;
}
.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* languages */
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}
.languages .flex {
    flex-wrap: wrap;
}
.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

/* Features Page here */
/* Features Head */
.features-head img,
.docs-head img {
    width: 200px;
    justify-self: end;
}

/* Features sub head */
.features-sub-head img {
    width: 300px;
    justify-self: end;
}
/* Features Main */
.features-main .card > i {
    margin-right: 20px;
}
.features-main .grid {
    padding: 30px;
}
.features-main .grid .card:nth-child(1) {
    grid-column: 1 / span 3;
}
.features-main .grid .card:nth-child(2) {
    grid-column: 1 / span 2;
}

/* docs */
.docs-main h3 {
    margin-block: 20px;
}
.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: start;
}
.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    transition: font-weight 0.3s ease-in;
    -webkit-transition: font-weight 0.3s ease-in;
    -moz-transition: font-weight 0.3s ease-in;
    -ms-transition: font-weight 0.3s ease-in;
    -o-transition: font-weight 0.3s ease-in;
}
.docs-main nav li:hover {
    font-weight: bold;
}
/* footer */
.footer .socials a {
    margin-inline: 10px;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
/* Media Queries */
/* tablets */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        margin-top: 40px;
        text-align: center;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
    }
    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }
    .features-main .grid .card:nth-child(1),
    .features-main .grid .card:nth-child(2) {
        grid-column: 1;
    }
}
/* Mobile */
@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
